# ========================================================
# 1. Deployment do Projeto Piloto (Spring Boot)
# ========================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: projeto-piloto
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: projeto-piloto
  template:
    metadata:
      labels:
        app: projeto-piloto
    spec:
      tolerations:
      - operator: "Exists"
      containers:
      - name: projeto-piloto
        image: pjrdantas/projeto-piloto:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: SPRING_DATASOURCE_URL
          # Atualizado para o seu RDS atual na Virginia (us-east-1)
          value: "jdbc:postgresql://db-projeto-piloto.cg90g0iomqah.us-east-1.rds.amazonaws.com:5432/postgres"
        - name: SPRING_DATASOURCE_USERNAME
          value: "postgres"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "c6vOzOH-Z_8*f3Y>f1i7be2w]P9n"
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "validate" # Use validate para segurança, já que o Flyway está ativo


---
# Service do Spring Boot
apiVersion: v1
kind: Service
metadata:
  name: projeto-piloto-svc
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: projeto-piloto
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080

---
# ========================================================
# 2. Deployment do Nginx (Proxy)
# ========================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-fargate
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      tolerations:
      - operator: "Exists"
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-proxy-config
          mountPath: /etc/nginx/conf.d/default.conf # <--- Mude aqui também
          subPath: default.conf                    # <--- E aqui

      volumes:
      - name: nginx-proxy-config
        configMap:
          name: nginx-conf

---
# Service do Nginx (LoadBalancer)
apiVersion: v1
kind: Service
metadata:
  name: nginx-fargate-svc
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
# toda vez que mudar a quantidade de replicas execute o comando : kubectl apply -f k8s/deployment.yaml para ativar a alteração.