# ========================================================
# 1. Deployment do Projeto Piloto (Spring Boot)
# ========================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: projeto-piloto
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: projeto-piloto
  template:
    metadata:
      labels:
        app: projeto-piloto
    spec:
      tolerations:
      - operator: "Exists"
      containers:
      - name: projeto-piloto
        image: projeto-piloto:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        # Adicionado para evitar o 502: O K8s espera o app responder antes de liberar o acesso
        readinessProbe:
          httpGet:
            path: /swagger-ui/index.html
            port: 8080
          initialDelaySeconds: 30 # Tempo para o Hibernate carregar
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /swagger-ui/index.html
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:oracle:thin:@host.docker.internal:1521/XEPDB1"
        - name: SPRING_DATASOURCE_USERNAME
          value: "ROOT"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "root123"
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "update" 

---
# Service do Spring Boot
apiVersion: v1
kind: Service
metadata:
  name: projeto-piloto-svc
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: projeto-piloto
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080

---
# ========================================================
# 2. Deployment do Nginx (Proxy)
# ========================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-fargate
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      tolerations:
      - operator: "Exists"
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-proxy-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf

      volumes:
      - name: nginx-proxy-config
        configMap:
          name: nginx-conf

---
# Service do Nginx (LoadBalancer)
apiVersion: v1
kind: Service
metadata:
  name: nginx-fargate-svc
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
